*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg,rgb(216, 96, 190),palevioletred);
  color: pink;
  font-family: 'Poppins',sans-serif;
  min-height: 100vh;
}
header{
  font-size: 2rem;
}
header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input, form button{
    padding:3px;
    font-size: 20px;
    border: none;
    background-color: white;
}
form button{
    color: aquamarine;
    background: white;
    cursor: pointer;
    transition:all 0.3s ease;

}
form button:hover{

  background: aquamarine;
  color: white;
}
.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.todo-list{
 min-width: 30%;
 list-style:none;   
}
.todo{
    margin: 2px;
    background: white;
    color: blueviolet;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease ;
}
.todo li{
    flex: 1;
}
.trash-btn , .complete-btn{
background: rgb(112, 187, 216);
color: blueviolet;
border: none;
padding: 10px;
cursor: pointer;
font-size: 15px;
}
.complete-btn{
  background: blue;
}
.todo-item{
  padding: 0rem 0.5rem;
}
.fa-trash ,.fa-check{
pointer-events: none;
}

.completed{
  text-decoration: line-through;
  opacity: 0.5;

}



